<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.gms.permission.AD_ID"/>

    <application
        android:name=".network.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.Light.NoActionBar.Bridge"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".src.WebViewActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".common.RecipeDialogActivity"
            android:exported="false"
            android:theme="@style/MyPopupMenu">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".src.basket.group.addGroup.addIngredient.AddGroupIngredientsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".src.basket.group.addGroup.GroupAddIngredientsActivity"
            android:exported="false">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".src.expirationDate.add_ingredient.ingredientstate.IngredientStateActivity"
            android:exported="false" />
        <activity
            android:name=".src.expirationDate.add_ingredient.AddIngredientsActivity"
            android:exported="false" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="{facebook_app_id}" />
        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="{facebook_client_token}" />
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="{kakao_app_key}" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="oauth"
                    android:scheme="{kakao_redirection_key}" />
                <data android:scheme="{fb_login_protocol_scheme}" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.dogdduddy.ingredient.activity.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing">
        </activity>
        <activity
            android:name=".activity.MainActivity2"
            android:exported="true">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>